.aboutMe {
    background-color: var(--aboutme-blogs-bg);
    // padding: 50px 0px;
    .about-img-col {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
    }
    .about-text-col {
      padding: 10px 0px;
      .about-me-heading {
        position: relative;
        &::before {
          content: "";
          width: 58px;
          border-bottom: solid 5px #9e68ee;
          position: absolute;
          left: 0px;
          bottom: -7px;
          z-index: 1;
        }
      }
      .about-list {
        margin-top: 10px;
        margin-bottom: 26px;
      }
    }
  }
  .about-list li:first-child {
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;
    list-style-type: none;
    position: relative;
    &::before {
      content: "";
      width: 13%;
      border-bottom: solid 3px var(--paragraph);
      position: absolute;
      left: -20px;
      top: 45%;
      z-index: 1;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .about-text-col {
      .about-text {
        justify-content: center;
      }
      .about-lists-row {
        justify-content: center;
        .about-list {
          max-width: 300px;
        }
      }
    }
    .contact-me-wrapper {
      text-align: center;
    }
  }
  