.contact-us {
    background-image: var(--contact-us-bg-img);
  }
  .contact-us-form-col {
    padding: 0px 40px;
  }
  .contact-us-form {
    .input-field {
      display: block;
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(128, 128, 128, 0.35);
      margin: 24px 0px;
      background: transparent;
      border-right: 0px;
      padding: 6px 21px;
      color: #fff;
      width: 100%;
      font-size: 14px;
      font-weight: 200;
      &::placeholder {
        color: #5f5f5f;
      }
    }
    .message-text {
      width: 100%;
      background: transparent;
      color: #fff;
      padding: 6px 21px;
      border: 0px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.35);
      font-size: 14px;
      font-weight: 200;
    }
    .send-message {
      width: 100%;
      background: transparent;
      color: #8247E5;
      border: 1px solid #8247E5;
      padding: 10px;
      outline: none;
      margin-top: 10px;
      border-radius: 7px;
      font-family: poppins;
      font-size: 13px;
      &:hover {
        background-color: #8247E5;
        color: white;
      }
    }
  }
  .click-to-view-resume {
    background-color: var(--companies-click-to-view-bg);
  }
  @media only screen and (max-width: 991px) {
    .contact-us-form-col {
      padding: 0px 0px;
    }
    .click-to-view-resume {
      padding: 50px 0px 40px 0px;
    }
  }
  